In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
#student_data_df.head(10)

C:\Users\Emily\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

In [3]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [4]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[((student_data_df["school_name"]=="Thomas High School") & (student_data_df["grade"]=="9th")), "reading_score"]=np.NaN

In [5]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[((student_data_df["school_name"]=="Thomas High School") & (student_data_df["grade"]=="9th")), "math_score"]=np.NaN

In [6]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [ ]:
#add the pandas dependency
import pandas as pd

In [ ]:
#add the os dependency
import os
#files to load
school_data_to_load=os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [ ]:
#read the school data file and store it in a pandas dataframe
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

In [ ]:
#read the student data file and store it in a pandas dataframe
student_data_df=pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
#determine if there are any missing values in the school data
school_data_df.count()

In [ ]:
#determine if there are any missing values in the school data
student_data_df.count()

In [ ]:
#determine if there are any missing values in the school data
school_data_df.isnull()

In [ ]:
#Determine if there are any missing values in the student data
student_data_df.isnull().sum()

In [ ]:
#determine if there are not any missing values in the school data
school_data_df.notnull()

In [ ]:
student_data_df.notnull().sum()

In [ ]:
#determine data types for the school dataframe
school_data_df.dtypes

In [ ]:
#determine the data types for the stuent dataframe
student_data_df.dtypes

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
#iterate thru the words in the "prefixes_suffixes" list and replace them with an empty space
for word in prefixes_suffixes:
    student_data_df["student_name"]=student_data_df["student_name"].str.replace(word, "", regex=True)
    
student_data_df

In [ ]:
#combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
#get the total number of students
student_count=school_data_complete_df["Student ID"].count()
student_count

In [ ]:
#calculate the total number of schools
school_count=school_data_df["school_name"].count()
school_count

In [ ]:
#calculate the total number of schools
school_count_2=school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
#calculate the total budget
total_budget=school_data_df["budget"].sum()
total_budget

In [ ]:
#calculate the average reading score
average_reading_score=school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
average_math_score=school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
#passing_math=school_data_complete_df["math_score"]>=70
#passing_reading=school_data_complete_df["reading_score"]>=70

In [ ]:
#passing_math
#passing_reading

In [ ]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

In [ ]:
#get all the students that are passing reading in a new dataframe
passing_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70]

In [ ]:
#calculate the number of students passing in either subject
passing_math_count=passing_math["student_name"].count()

passing_reading_count=passing_reading["student_name"].count()

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
#calculate percent that passed math
passing_math_percentage=passing_math_count/float(student_count)*100

passing_reading_percentage=passing_reading_count/float(student_count)*100

In [ ]:
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
#calculate the students who passed both math and reading
passing_math_reading=school_data_complete_df[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)]

In [ ]:
passing_math_reading

In [ ]:
#calculate the number of students who passed both math and reading
overall_passing_math_reading_count=passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
#calculate the overall passing percentage
overall_passing_percentage=overall_passing_math_reading_count/student_count*100
overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
# format the "total students" to have a comma for a thousands separator
district_summary_df["Total Students"]=district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
#format the budget column 
district_summary_df["Total Budget"]=district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
district_summary_df

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

In [ ]:
#Determine the school type
per_school_types=school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
#add the per_school_types into a dataframe for testing
df=pd.DataFrame(per_school_types)
df

In [ ]:
#calculate the total student count
per_school_counts=school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
#calculate the total student count
per_school_counts=school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
#calculate the total school budget
per_school_budget=school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
#calculate the per capita spending
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
#calculate the average scores
per_school_math=school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

per_school_reading=school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

In [ ]:
#calculate the passing scores by creating a filtered dataframe
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"]>=70)]
per_school_passing_reading

In [ ]:
#calculate the number of students passing math and passing reading by school 
per_school_passing_math=per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

per_school_passing_reading=per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

In [ ]:
#calculate the percentage of passing math and reading scores per school
per_school_passing_math = per_school_passing_math / per_school_counts *100
per_school_passing_math

per_school_passing_reading = per_school_passing_reading/per_school_counts*100
per_school_passing_reading

In [ ]:
#passing both reading and math 
per_passing_math_reading=school_data_complete_df[(school_data_complete_df["reading_score"]>=70) & (school_data_complete_df["math_score"]>=70)]
per_passing_math_reading.head()

In [ ]:
per_passing_math_reading=per_passing_math_reading.groupby("school_name").count()["student_name"]
per_passing_math_reading

In [ ]:
#calculate the overall percentage of passing
per_overall_passing_percentage=per_passing_math_reading/per_school_counts*100
per_overall_passing_percentage

In [ ]:
per_school_summary_df=pd.DataFrame({
    "School Type": per_school_types,
    "Total Student": per_school_counts,
    "Total School Budget": per_school_counts,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage
})

per_school_summary_df.head()

In [ ]:
#format the total school budget and the per student budget columns
per_school_summary_df["Total School Budget"]=per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"]=per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df

In [ ]:
#Sort and show top five schools
top_schools=per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
#Sort and show bottom five schools
bottom_schools=per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

In [ ]:
#Create a grade level DataFrames
ninth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="9th")]

tenth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="10th")]

eleventh_graders=school_data_complete_df[(school_data_complete_df["grade"]=="11th")]

twelth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="12th")]
twelth_graders

In [ ]:
#group each grade level dataframe by the school name for the average math score
ninth_grade_math_scores=ninth_graders.groupby("school_name").mean()["math_score"]
tenth_grade_math_scores=tenth_graders.groupby("school_name").mean()["math_score"]
eleventh_grade_math_scores=eleventh_graders.groupby("school_name").mean()["math_score"]
twelth_grade_math_scores=twelth_graders.groupby("school_name").mean()["math_score"]
eleventh_grade_math_scores

In [ ]:
#group each grade level dataframe by the school name for the average reading score
ninth_grade_reading_scores=ninth_graders.groupby("school_name").mean()["reading_score"]
tenth_grade_reading_scores=tenth_graders.groupby("school_name").mean()["reading_score"]
eleventh_grade_reading_scores=eleventh_graders.groupby("school_name").mean()["reading_score"]
twelth_grade_reading_scores=twelth_graders.groupby("school_name").mean()["reading_score"]
twelth_grade_reading_scores

In [ ]:
#combine each grade level series for average math scores by school in a single dataframe
math_scores_by_grade=pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelth_grade_math_scores
})

math_scores_by_grade

In [ ]:
#combine each grade level series for average reading scores by school in a single dataframe
reading_scores_by_grade=pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelth_grade_reading_scores
})

reading_scores_by_grade

In [ ]:
#format each grade column
math_scores_by_grade["9th"]=math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"]=math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"]=math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"]=math_scores_by_grade["12th"].map("{:.1f}".format)

#make sure columns are in correct order
math_scores_by_grade=math_scores_by_grade[["9th", "10th", "11th", "12th"]]

#remove index name
math_scores_by_grade.index.name=None

math_scores_by_grade

In [ ]:
#get the descriptive statistis for the per_school_capita
per_school_capita.describe()

In [ ]:
#cut the per_school_capita into the spending ranges

spending_bins=[0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
#Establish the spending bins and group names

spending_bins=[0, 585, 630, 645, 675]
group_names=["<$584", "$585-629", "$630-644", "$645-675"]

In [ ]:
#categorize spending based on the bins
per_school_summary_df["Spending Ranges (Per Student)"]=pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df

In [ ]:
#calculate averages for the desired columns
spending_math_scores=per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math= per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall_passing_spending

In [ ]:
#assemble into dataframe
spending_summary_df = pd.DataFrame({
    "Average Math Score":spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

spending_summary_df

In [ ]:
#Formatting
#get the column, and map all values to a formatted value, then reassign back to itself

spending_summary_df["Average Math Score"]=spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"]=spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"]=spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"]=spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"]=spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

In [ ]:
#Establish the bins
size_bins = [0, 1000, 2000, 5000]
group_names=["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
#categorize spending based on the bins
per_school_summary_df["School Size"]=pd.cut(per_school_summary_df["Total Student"], size_bins, labels=group_names)

per_school_summary_df.head()

In [ ]:
#calculate the averages for the desired columns

size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores=per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into dataframe
size_summary_df=pd.DataFrame({
    "Average Math Score":size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

size_summary_df

In [ ]:
# Formatting
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

In [ ]:
#dataframe that groups same averages and percentages by the type of school, district and charter
per_school_summary_df.head()

In [ ]:
type_math_scores=per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores=per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math=per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading=per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing=per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
type_summary_df=pd.DataFrame({
    "Average Math Score":type_math_scores,
    "Average Reading Score":type_reading_scores,
    "% Passing Math":type_passing_math,
    "% Passing Reading":type_passing_reading,
    "% Overall Passing":type_overall_passing
})

type_summary_df

In [ ]:
#Formatting
type_summary_df["Average Math Score"]=type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df